@model StudentMVCCodeFirst.Models.ViewModels.CreateStudentViewModel
@{
    ViewBag.Title = "Delete";
}
<div class="container">
    @Html.AntiForgeryToken();
    <div class="form-group row">
        <br /><br /><br />
        <div class="col-md-0"></div>
        <div class="col-md-6">
            <table class="table table-bordered" style="background-color:lightpink">
                <tr>
                    <th colspan="2" class="text-center">Delete Student Information</th>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.StudentName)</td>
                    <td>@Html.DisplayFor(model => model.StudentName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Email)</td>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.ConfirmEmail)</td>
                    <td>@Html.DisplayFor(model => model.ConfirmEmail)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.DateOfBirth)</td>
                    <td>@Html.DisplayFor(model => model.DateOfBirth, "{0:MM/dd/yyyy}")</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.IsSitAvailable)</td>
                    <td> @Html.DisplayFor(model => model.IsSitAvailable)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.CourseFee)</td>
                    <td>@Html.DisplayFor(model => model.CourseFee)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.ImageUrl)</td>
                    <td><img src="@Url.Content(Model.ImageUrl)" width="50" height="50" alt="Alternate Text" /></td>
                </tr>
            </table>
            @using (Html.BeginForm("Delete", "Student", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "Submit" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.StudentId)
                <div>
                    <input type="submit" class="btn btn-danger" onclick="Sure()" value="Delete" />
                </div>
            }
            @Html.ActionLink("Back to Student List", "Index")
        </div>
        <div class="col-md-6"></div>
    </div>
    
    
</div>
<script>
    function Sure() {
        alert("Are you sure you want to delete this information?");
    }    
</script>

