@model PagedList.IPagedList<StudentMVCCodeFirst.Models.ViewModels.StudentListViewModel>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
}
<h2 class="text-center">Student List</h2>
@Html.ActionLink("Create New Student", "Create")
<div>
    @using (Html.BeginForm("Index", "Student", FormMethod.Get))
    {
        <p>
            Find By Name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }
    <br />
    <table class="table table-bordered">
        <tr>
            <th>Student Id</th>
            <th>Student Name</th>
            <th>Email</th>
            <th>Date Of Brith</th>
            <th>IsSit Available</th>
            <th>Course Fee</th>
            <th>Image Name</th>
            <th>Image</th>
            <th>Course Name</th>
            <th>Action...</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.StudentId)</td>
                <td>@Html.DisplayFor(modelItem => item.StudentName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Convert.ToString(String.Format("{0:MM/dd/yyyy}", item.DateOfBirth))</td>
                <td>@Html.DisplayFor(modelItem => item.IsSitAvailable)</td>
                <td>@Html.DisplayFor(modelItem => item.CourseFee)</td>
                <td>@Html.DisplayFor(modelItem => item.ImageName)</td>
                <td><img src="@Url.Content(item.ImageUrl)" height="50" width="50" alt="Alternate Text" /></td>
                <td>@Html.DisplayFor(modelItem => item.CourseName)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentId })|
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })|
                    <a href="#" name="Details" onclick="DetailsRecord('+@item.StudentId+')">Details</a>
                </td>
            </tr>
        }
    </table>
    <br />
    Page @(Model.PageCount<Model.PageNumber?0:Model.PageNumber) Of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    <div id="partialDiv"></div>
    <script src="~/Scripts/details.js"></script>
</div>
