<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-right" style="background-color:rebeccapurple">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Assign Role", "CreateRole", "Admin")</li>
                            <li>@Html.ActionLink("Manage Role", "Index", "Admin")</li>
                            <li>@Html.ActionLink("ShowStudList", "ShowStudentList", "Student")</li>
                        }
                        <li>@Html.ActionLink("Student List", "Index", "Student")</li>
                        <li>@Html.ActionLink("New Student", "Create", "Student")</li>
                        <li>@Html.ActionLink("Course List", "Index", "Course")</li>
                        <li>@Html.ActionLink("Course ListN", "Index", "CourseN")</li>



                        @*<li>@Html.ActionLink("About", "Index", "About")</li>*@
                        <li class="text-right">@Html.ActionLink("Hello " + User.Identity.Name, "")</li>
                        <li class="text-right">@Html.ActionLink("Logout", "Logout", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </div>   
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="jumbotron bg-light" style="height:70px">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application; DevelopedBy: MD. OBYDULLAH</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>